*{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
    background-color: #f7f7f7;
}
header{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
}
header h1{
font-size: 32px;
margin-bottom: 5px;
}

header h4{
    font-weight: normal;
    margin-bottom: 10px;
    color: #666;
}
header nav a{
    margin: 0 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
header nav a:hover{
    color: #0077cc;
}

.container{
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2{
    font-size: 24px;
    margin-bottom: 10px;
    color: #222;
}

section h3{
    margin-top: 15px;
    margin-bottom: 5px;
    color: #444;
    
}

section h4{
    color:#555;
    margin-bottom: 3px;
}

ul li{
    margin-left: 20px;
    margin-bottom: 5px ;
}

section > div{
    margin-bottom: 15px;
    padding:5px;
    border-left: 4px solid #0077cc;
    background: #f0f8ff;
    border-radius: 5px;
}
footer{
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

footer a{
    color: #0077cc;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}



